<section class="no-padding" id="portfolio">

    <div class="container content-section text-center"  style="padding-bottom: 20px">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <h2>Recent and ongoing projects</h2>
        </div>
      </div>
    </div>

    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="https://agupubs.onlinelibrary.wiley.com/doi/abs/10.1029/2018GC008092" class="portfolio-box">
                    <img src="img/portfolio/serp.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Fault rocks
                            </div>
                            <div class="project-name">
                                Deformation textures in serpentinite
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/field.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Geologic mapping
                            </div>
                            <div class="project-name">
                                Bedrock geology of northern California
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="/3d_model" class="portfolio-box">
                    <img src="img/portfolio/3d.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                3D models
                            </div>
                            <div class="project-name">
                                Structural model development
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.sciencedirect.com/science/article/pii/S0375650515000334" class="portfolio-box">
                    <img src="img/portfolio/hotspring2.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Geothermal
                            </div>
                            <div class="project-name">
                                Geothermal exploration
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.sciencedirect.com/science/article/pii/S0169555X12005855" class="portfolio-box">
                    <img src="img/portfolio/lidar.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Active tectonics
                            </div>
                            <div class="project-name">
                                Active faulting and landscape evolution
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.sciencedirect.com/science/article/pii/S0191814118301950" class="portfolio-box">
                    <img src="img/portfolio/rheo.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Fault rheology 
                            </div>
                            <div class="project-name">
                                Mid-crustal deformation processes
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>