

<!-- Projects Section -->
  <section id="projects" class="projects-section">
   <!-- bg-light"> -->
  <!-- "projects-section bg-light"> -->
    <!-- section id="about" class="container content-section text-center"> -->
    <div class="container content-section text-center" style="padding-bottom: 20px">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <h2>Recent and ongoing projects</h2>
          <p>I study the geology of shear zones and faults, active faulting, and tectonic history through geologic mapping and petrographic studies.</p>
        </div>
      </div>
    </div>

    <div class="container">

      <!-- Featured Project Row -->
      <!-- <div class="row align-items-center no-gutters mb-4 mb-lg-5">
        <div class="col-xl-8 col-lg-7">
          <img class="img-fluid mb-3 mb-lg-0" src="img/bg-masthead.jpg" alt="">
        </div>
        <div class="col-xl-4 col-lg-5">
          <div class="featured-text text-center text-lg-left">
            <h4>Shoreline</h4>
            <p class="text-black-50 mb-0">Grayscale is open source and MIT licensed. This means you can use it for any project - even commercial projects! Download it, customize it, and publish your website!</p>
          </div>
        </div>
      </div> -->

            <!-- Project Two Row -->
      <div class="row justify-content-center no-gutters">
        <div class="col-lg-6">
          <img class="img-fluid" src="img/demo-image-02.jpg" alt="">
        </div>
        <div class="col-lg-6">
          <!-- lg-first"> -->
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-right">
                <h4 class="text-white">Maps</h4>
                <p class="mb-0 text-white-50">Geologic maps and digital maps.</p>
                <hr class="d-none d-lg-block mb-0 mr-0">
              </div>
            </div>
          </div>
        </div>
      </div>


      <!-- Project One Row -->
      <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
        <div class="col-lg-6">
          <img class="img-fluid" src="img/demo-image-01.jpg" alt="">
        </div>
        <div class="col-lg-6">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-left">
                <h4 class="text-white" >3D Models</h4>
                <p class="mb-0 text-white-50">Three-dimensional geologic,  structural, and seismic models of select locations in northern California.</p>
                <hr class="d-none d-lg-block mb-0 ml-0">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row justify-content-center no-gutters">

        <div class="col-lg-6">
          <img class="img-fluid" src="img/demo-image-02.jpg" alt="">
        </div>
        
        <div class="col-lg-6 order-lg-first">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-right">
                <h4 class="text-white">Fault rock processes</h4>
                <p class="mb-0 text-white-50">Deformation of rocks in shear zones and faults.</p>
                <hr class="d-none d-lg-block mb-0 mr-0">
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="row justify-content-center no-gutters">

        <div class="col-lg-6">
          <img class="img-fluid" src="img/demo-image-02.jpg" alt="">
        </div>
        
        <div class="col-lg-6 order-lg-first">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-right">
                <h4 class="text-white">Tectonic evolution</h4>
                <p class="mb-0 text-white-50">Tectonic studies from the Mesozoic to today.</p>
                <hr class="d-none d-lg-block mb-0 mr-0">
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>